@charset "utf-8";
*,
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
min-height: 100%;
max-width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
}

#main {
	position: relative;
margin: 0 auto;
width: 1024px;
height: 768px;
transform-origin: 50% 0%;
overflow: hidden;
	background: url(../media/images/bg.jpg);
background-size: contain;}


.text{	position: absolute;
	background: url(../media/images/text1.png);
	width: 379px;
	height: 138px;
	top: 0px;
	left: 0px;
}

