/* video container */

.main {
	position: relative;
	background: url(../media/images/bg.jpg) no-repeat left top;
	width: 1024px;
	height: 768px;
	background-size: 100% 100%;
	overflow: hidden;
	top: 0px;
	left: 0px;
}


.img1 {
	position: absolute;
	background: url(../media/images/img1.png) no-repeat left top;
	top: 355px;
	left: 368px;
	animation: mymove 2s;
	display: none;
}


.click{
	top: 485px;
	left: 862px;
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.click2{
	top: 642px;
	left: 947px;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background:#ff000060;
}

.popup1{
	background: url("../media/images/popup1.jpg");
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	display: none;
}

.popup2{
	background: url("../media/images/popup2.jpg");
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	display: none;
}
.close{
	position: absolute;
	top: 100px;
	left: 795px;
	height: 50px;
	width: 50px;
}

.close1{
	position: absolute;
	top: 50px;
	left: 936px;
	height: 50px;
	width: 50px;

}

@keyframes mymove {
	from {transform: rotate(0deg); opacity:0.5;	}
	to {transform: rotate(-360deg); opacity:1;
	}
  }
	
	*,
	*:before,
	*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	
	html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
	
	body {
	min-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	}
	
	#main {
	margin: 0 auto;
	width: 1024px;
	height: 768px;
	transform-origin: 50% 0%;
	overflow: hidden;
	background: url("../media/images/bg.png") no-repeat;
	background-size: contain;
	position: relative;
}
.logo{
	position: absolute;
	top: 50px;
	left: 340px;
	height: 150px;
	width: 610px;
}