@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
.logo{
	position: absolute;
	top: 278px;
    left: 216px;
    width: 655px;
    height: 179px
  
}
.img1{
	position: absolute;
	background: url(../media/images/img1.png) no-repeat left top;
	width: 0px;
	height: 143px;
	overflow: hidden;
	top: 523px;
	left: 521px;	
	
}
.img2{
	position: absolute;
	background: url(../media/images/img2.png) no-repeat left top;
	width: 428px;
	height: 91px;
	overflow: hidden;
	top: 484px;
	left: 598px;	
	
}
.Ref{
	    width: 53px;
    height: 49px;
    background: transparent;
    position: absolute;
    /* border-radius: 50%; */
    top: 708px;
    right: 20px;
}
.pop {
    position: absolute;overflow:hidden;
    width: 1024px;
	height:768px;
    background: url(../media/images/ref.jpg);
    display: block;
    left: 0px;
    top: 0px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.open{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.close {
   /* z-index: 99;*/
       right: 67px;
    top: 254px;
    width: 45px;
    height: 45px;
	background: transparent;
    position: absolute;
}
.ref{
	position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
  
}