@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
.txt1{
	position: absolute;
	background: url(../media/images/txt1.png) no-repeat left top;
	width: 345px;
	height: 132px;
	background-size: 100% 100%;
	overflow: hidden;
	top: 140px;
	left: 54px;
}

.homelogo {
    position: absolute;
    width: 421px;
    height: 130px;
    top: 188px;
    left: 319px;
    z-index: 999;
    display: block;
}

.logo{
	position: absolute;
	top: 180px;
	left: 310px;
	height: 150px;
  width: 430px;
}