@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background-size: contain;
	    background: url(../media/images/bg.jpg) no-repeat left top;

}


.ref {
    position: absolute;
   top: 680px;
    left: 934px;
    width: 35px;
    height: 80px;
	z-index:999;
}
.api {
    position: absolute;
   top: 680px;
    left: 975px;
    width: 35px;
    height: 80px;
	z-index:999;
}
.popup {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: none;
}

.close {
    position: absolute;
        top: 88px;
    left: 820px;
    width: 35px;
    height: 35px;
}

.imgs {
    position: absolute;
    left: 630px;
    top: 283px;
    display: none;
}

.img1{
	 position: absolute;
    background: url("../media/images/img1.png") no-repeat left top;
    width: 369px;
    height: 40px;
    background-size: 100% 100%;
    overflow: hidden;
    top: 195px;
	left: 366px;
	display:none;
	-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}
.logo{    position: absolute;
        width: 620px;
    height: 167px;
    left: 272px;
    top: 62px;}
	.bottom{
	position: absolute;
	width: 1024px;
	height: 180px;
	background: transparent;
	overflow: hidden;
	left: 0px;
	bottom:0px;
	z-index:998;
}