@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg1.jpg") no-repeat;
  background-size: contain;
}
.text_1 {
	width: 369px;
	height: 168px;
	position: absolute;
	top: 47px;
	left: 108px;
	background: url(../media/images/text_1.png) no-repeat top left;
		opacity: 0;
	animation: ani1 0.5s 0.5s forwards;
}
@keyframes ani1{
	0%{
		opacity: 0;
		
	}
		100%{
		opacity: 1;
		
	}



}
.logo {
	width: 411px;
	height: 207px;
	position: absolute;
	top: 55px;
	left: 517px;
	background: url(../media/images/logo.png) no-repeat top left;
	opacity: 0;
	animation: ani2 0.5s 1s forwards;
	transform: scale(0.2,0.2);
}
@keyframes ani2{
	
	0%{
		opacity: 0; transform: scale(0.2,0.2);

	}
	
		100%{
		opacity: 1; transform: scale(1,1);
	}

}

.text_3 {
	width: 390px;
	height: 157px;
	position: absolute;
	top: 439px;
	left: 529px;
	background: url(../media/images/text_3.png) no-repeat top left;
		opacity: 0;
	animation: ani2 0.5s 2s forwards;

}
.text_2 {
	width: 360px;
	height: 134px;
	position: absolute;
	top: 437px;
	left: 100px;
	background: url(../media/images/text_2.png) no-repeat top left;
		opacity: 0;
	animation: ani2 0.5s 1.5s forwards;

}
