@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
#container1{
	width:1024px;
	height:768px;
	position:absolute;
	overflow:hidden; display:none;
	background:#000;
	color:#ccc;
	top:0px;
	left:0px;
 	z-index:0;
}


.homelogo {
    position: absolute;
        width: 568px;
    height: 134px;
    top: 129px;
    left: 143px;
    }

    .logo{
      position: absolute;
        width: 568px;
    height: 134px;
    top: 129px;
    left: 143px;
    }
.icon_home{position:absolute;bottom: 15px;left: 25px;width:50px;height:50px;}
