@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}

.img1 {
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../media/images/img1.jpg) no-repeat top left;
	background-size: 100%;display: none;
}
.img2 {
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../media/images/img2.jpg) no-repeat top left;
	background-size: 100%;display: none;
}

.img3 {
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../media/images/img3.jpg) no-repeat top left;
	background-size: 100%;display: none;
}
.img4 {
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../media/images/img4.jpg) no-repeat top left;
	background-size: 100%;display: none;
}

.img5 {
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../media/images/img5.jpg) no-repeat top left;
	background-size: 100%;display: none;
}



.logo{
	position: absolute;
	width: 400px;
	left: 520px;
	top: 50px;
	height: 150px;
}