@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
.clk1 {
  position: absolute;
  top: 361px;
  left: 221px;
  width: 165px;
  height: 218px;
}
.clk2 {
  position: absolute;
  top: 361px;
  left: 484px;
  width: 165px;
  height: 218px;
}
.clk3 {
  position: absolute;
  top: 361px;
  left: 754px;
  width: 109px;
  height: 218px;
}
.close {
  position: absolute;
  top: 21px;
  left: 941px;
  width: 40px;
  height: 40px;
  background: url(../media/images/close.png) scroll 0px 0px no-repeat;
}
.p11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p11.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p12.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p13.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p14.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p21.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p22.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p23.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p24 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p24.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p31 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p31.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p32 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p32.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p33.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.p34 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  background: url(../media/images/p34.jpg) scroll 0px 0px no-repeat;
  display: none;
  z-index: 1;
}
.homelogo {
  position: absolute;
  top: 106px;
  left: 222px;
  width: 586px;
  height: 120px;
  background: transparent;
}
.logo{
  position: absolute;
  top: 106px;
  left: 222px;
  width: 586px;
  height: 120px;
  background: transparent;
}