@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
	overflow: hidden;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
	position: relative;
}
div {
  position: absolute;
}
.omez_logo {
	width: 435px;
	height: 117px;
	background: url("../media/images/logo.svg") no-repeat;
    top: 22px;
    left: 293px;
  animation: omez_logo_ani 2s ease 0.2s forwards;
  opacity: 0;
}
@keyframes omez_logo_ani {
  0% {
    opacity: 0;
	  transform: scale(0);
	  	top: 314px;
	left: 323px;
  }

  20% {
    opacity: 1;
	  		 transform: scale(1.5);
	top: 314px;
	left: 323px;
  }
	70% {
    opacity: 1;
	  		 transform: scale(1.5);

  }  
	80% {
    opacity: 1;
	  		 transform: scale(1.5);
			  	top: 314px;
	left: 323px;

  }	

	  90% {
    opacity: 1;
	     transform: scale(1.02);

  }
		  100% {
    opacity: 1;
	     transform: scale(1.02);
    top: 7px;
    left: 299px;

  }
	
	
}

.bg2 {
    width: 1024px;
    height: 768px;
    background: url("../media/images/bg_2.jpg") no-repeat;
    top: 0;
    left: 0;
    animation: bg2_ani 1s ease 2.5s forwards;
    opacity: 0;
}
@keyframes bg2_ani {
  0% {
    opacity: 0;

  }
		  100% {
    opacity: 1;

  }
	
	
}
.text2 {
	width: 730px;
	height: 96px;
	background: url("../media/images/top_text2.png") no-repeat;
	top: 206px;
	left: 141px;
    animation: tx_ani 1s ease 1s forwards;
    opacity: 0;
	display: none;
}
@keyframes tx_ani {
  0% {
    opacity: 0;

	  transform: scale(0);
  }
		  100% {
    opacity: 1;
			  transform: scale(1);

  }
	
	
}
.img2 {
    width: 843px;
    height: 461px;
    background: url("../media/images/img2.png") no-repeat;
    top: 199px;
    left: 135px;
    animation: img_ani 2s ease 3s forwards;
    opacity: 0;
}
@keyframes img_ani {
  0% {
    opacity: 0;

	  transform: scale(0.5)
  }
		  20% {
    opacity: 1;
			  transform: scale(1);

  }

		  100% {
    opacity: 1;
			   transform: scale(1);

  }	
	
}
.mishon {
	width: 958px;
	height: 399px;
	background: url("../media/images/mishon.gif") no-repeat;
	top: 290px;
    left: 30px;
/*    animation: M_ani 2s ease 1s forwards;
    opacity: 0;*/
	display: none;

}
@keyframes M_ani {
  0% {
    opacity: 0;

  }
		  100% {
    opacity: 1;

  }
	
	
}
.bg_final {
    width: 1024px;
    height: 768px;
    background: url("../media/images/main.jpg") no-repeat;
    top: 0;
    left: 0;
    animation: bg_final 3s ease 12s forwards;
    opacity: 0;
}
@keyframes bg_final {
  0% {
    opacity: 0;

  }
		  100% {
    opacity: 1;

  }
	
	
}
.logo {
	width: 435px;
	height: 117px;
	top: 314px;
	left: 323px;
}