@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.logo{
    position: absolute;
    top: 40px;
    left: 200px;
    width: 620px;
    height: 190px;
    z-index: 999;
    /*border: 1px solid #000;*/
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
.homelogo {
    width: 580px;
	height: 128px;
	left: 157px;
	top: 94px;
    position: absolute;
    background: transparent;
}
.img1 {
	position: absolute;
	background: url(../media/images/img1.png) no-repeat left top;
	width: 321px;
	height: 365px;
	top: 99px;
	left: 425px;
	display: none;
}
.img2{
	position: absolute;
	background: url(../media/images/img2.png) no-repeat left top;
	width: 0px;
	height: 26px;
	top: 707px;
	left: 287px;	
	display: none;
}
.ref {
  width: 120px;
  height: 110px;
  bottom: 0px;
	left: 845px;
  position: absolute;
  background: transparent;
}
.pop1 {
  background: url(../media/images/ref.jpg) scroll 0px 0px no-repeat;
  width: 1024px;
  height: 768px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  display: none;
}
.close1 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 861px;
	top: 190px;
  background: url("../media/images/close.png") scroll 0px 0px no-repeat;
}
