@charset "utf-8";

*,
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
min-height: 100%;
max-width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
}

#main {
margin: 0 auto;
width: 1024px;
height: 768px;
transform-origin: 50% 0%;
overflow: hidden;
background: url("../media/images/bg.png") no-repeat;
background-size: contain;
position: relative;
}
.main{
    position: absolute;
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}
.text1{
    position: absolute;
    top: 179px;
    left:53px;
    display: none;
    animation: showo 1s;
}

.text2{
    position: absolute;
    top: 272px;
    left:53px;
    display: none;
    animation: showt 1s;
}
.layer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background: rgba(255,255,255,0);
    animation:lighttodark 1s;
}

@keyframes lighttodark{
    0%{background: rgba(255,255,255,0.5);}
    100%{background: rgba(255,255,255,0);}
}

@keyframes showo{
    0%{top: 379px;opacity: 0;}
    50%{opacity: 1;}
    100%{top: 179px;opacity: 1;}
}

@keyframes showt{
    0%{top:472px;opacity: 0;}
    50%{opacity: 1;}
    100%{top: 272px;opacity: 1;}
}