@charset "utf-8";body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-webkit-touch-callout:none;-moz-touch-callout:none;-o-touch-callout:none;-ms-touch-callout:none;touch-callout:none}
#main{position:relative;background:url(../media/images/bg.jpg) no-repeat left top;width:1024px;height:768px;background-size:100% 100%;overflow:hidden;top:0px;left:0px}
.ref{position:absolute;width: 66px;height: 66px;top: 690px;left: 939px;}
.pop1{
	position: absolute;
	background: url(../media/images/popup.jpg);
	width: 1024px;
	height: 768px;
	top: 0px;
	left: 0px;
	display: none;
}
.close1{
	position: absolute;
	width: 46px;
	height: 46px;
	top: 91px;
	right: 61px;
	/* display: none; */
}


*,
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
min-height: 100%;
max-width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
}

#main {
	position: relative;
margin: 0 auto;
width: 1024px;
height: 768px;
transform-origin: 50% 0%;
overflow: hidden;
/*background: url("../images/background.png") no-repeat;*/
background-size: contain;}

.logo{
	position: absolute;
	  top: 80px;
	  left:120px;
	  width:410px;
	  height:160px;
  }