@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
#ref {
  position: absolute;
  background: url(../media/images/ref.jpg) no-repeat left top;
  width: 1024px;
  height: 768px;
  background-size: 100% 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#img1 {
  position: absolute;
  background: url("../media/images/img1.png") no-repeat left top;
  width: 627px;
  height: 254px;
  top: 460px;
  right: 116px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img2 {
  position: absolute;
  background: url("../media/images/img2.png") no-repeat left top;
  width: 401px;
  height: 173px;
  top: 370px;
  left: 70px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img3 {
  position: absolute;
  background: url("../media/images/img3.png") no-repeat left top;
  width: 211px;
  height: 69px;
  top: 553px;
  left: 109px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#refclk {
  width: 55px;
  height: 55px;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 684px;
  left: 869px;
  z-index: 999;
}
#refclose {
  width: 60px;
  height: 60px;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 330px;
  left: 887px;
  visibility: hidden;
}
#img5 {
  position: absolute;
  background: url("../media/images/img5.png") no-repeat left top;
  width: 0px;
  height: 28px;
  top: 570px;
  left: 195px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img6 {
  position: absolute;
  background: url("../media/images/img6.png") no-repeat left top;
  width: 0px;
  height: 28px;
  top: 622px;
  left: 195px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img7 {
  position: absolute;
  background: url("../media/images/img7.png") no-repeat left top;
  width: 238px;
  height: 76px;
  top: 554px;
  left: 735px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#bottom {
  position: absolute;
  width: 1024px;
  height: 180px;
  background: transparent;
  overflow: hidden;
  left: 0px;
  bottom: 0px;
  z-index: 998;
}
.logo {
  position: absolute;
  width: 499px;
  height: 172px;
  background: transparent;
  overflow: hidden;
  top: 102px;
  left: 81px;
}
#home {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url("../media/images/home.png") no-repeat;
  overflow: hidden;
  top: 690px;
  right: 35px;
  z-index: 999;
}
#logo {
  position: absolute;
  width: 499px;
  height: 172px;
  background: transparent;
  overflow: hidden;
  top: 102px;
  left: 81px;
}