@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
    margin: 0 auto;
    width: 1024px;
    height: 768px;	
    transform-origin: 50% 0%;
    overflow: hidden;
    /* background: url(../media/images/Loading_icon.gif) no-repeat; */
    background-size: contain;
    /* background-color: aliceblue; */
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


/* .homelogo {
    position: absolute;
    top: 39px;
	left: 147px;
	width: 725px;
	height: 145px;
	background:transparent;
} */