@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #000; */
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.logo{
    position: absolute;
    top: 133px;
    left: 276px;
    width: 466px;
    height: 190px;
    z-index: 999;
    /*border: 1px solid #000;*/
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
/*.logo {
	    width: 466px;
    height: 190px;
    top: 133px;
    left: 276px;
	position: absolute;
	z-index: 99;
}*/
.click {
	    position: absolute;
    top: 657px;
    left: 89px;
    width: 112px;
    height: 37px;
}

.click1 {
	    position: absolute;
    top: 356px;
    left: 319px;
    width: 215px;
    height: 38px;
}
.click2 {
	    position: absolute;
    top: 472px;
    left: 420px;
    width: 176px;
    height: 38px;
}
.click3 {
	    position: absolute;
    top: 584px;
    left: 596px;
    width: 170px;
    height: 38px;}

.pop {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	background:url("../media/images/pop.jpg") no-repeat;
	display: none;
}

.pop1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	background: url(../media/images/pop1.jpg) scroll 0px 0px no-repeat;
	display: none;
}
.pop2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	background: url(../media/images/pop2.jpg) scroll 0px 0px no-repeat;
	display: none;
}
.pop3 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	background: url(../media/images/pop3.jpg) scroll 0px 0px no-repeat;
	display: none;
}


.close {
	position: absolute;
	   top: 98px;
    right: 72px;
	width: 40px;
	height: 40px;
	}
.close1 {
	position: absolute;
	   top: 98px;
    right: 72px;
	width: 40px;
	height: 40px;
	background:url("../media/images/close.png") no-repeat;
	}
