@charset "utf-8";
*,
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
min-height: 100%;
max-width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
}

#main {
	position: relative;
margin: 0 auto;
width: 1024px;
height: 768px;
transform-origin: 50% 0%;
overflow: hidden;
	background: url("../media/images/bg.jpg");
background-size: contain;}


.bar_1 {
	width: 79px;
	height: 205px;
	background: url(../media/images/bar_1.png) no-repeat left top;
	bottom: 140px;
	left: 593px;
	position: absolute;
		opacity: 0;
	animation: ani2 0.5s ease 1s forwards;
transform-origin: bottom;
}
@keyframes ani2 {
  0% { opacity: 0; transform: scaleY(0);}
  100% {opacity: 1; transform: scaleY(1); }
}
.logo{
	position: absolute;
	top: 50px;
	left: 275px;
	height: 150px;
	width: 400px;
}