@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
.bg1{
	position: absolute;
	width: 1024px;
	height: 768px;
	background:url(../media/images/bg1.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	top: 0px;
	left: 0px;
	display:none;
}
.logoclk{
	width: 585px;
	height: 109px;
	background: transparent;
	position: absolute;
	overflow: hidden;
	top: 261px;
	left: 177px;
}
.logo{
  width: 585px;
	height: 109px;
	background: transparent;
	position: absolute;
	overflow: hidden;
	top: 261px;
	left: 177px;
}