@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
.bg1{
	position: absolute;
	width: 1024px;
	height: 768px;
	background:url(../media/images/bg1.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	top: 0px;
	left: 0px;
	display:none;
}
.img1{
	position: absolute;
	width: 276px;
	height: 65px;
	background:url("../media/images/img1.png") no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	top: 671px;
	left: 493px;
	animation:gloweffect 1s infinite;
}
@keyframes gloweffect{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
.img2{
	position: absolute;
	width: 97px;
	height: 9px;
	background:url("../media/images/img2.png") no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	top: 385px;
	left: 664px;
}
.img3{
	position: absolute;
	width: 130px;
	height: 24px;
	background:url("../media/images/img3.png") no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	top: 380px;
	left: 780px;
}
.logoclk{
	width: 570px;
height: 106px;
background: transparent;
position: absolute;
overflow: hidden;
top: 123px;
left: 185px;
}

.logo{
width: 570px;
height: 106px;
background: transparent;
position: absolute;
overflow: hidden;
top: 123px;
left: 185px;
}