@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
.img1{
	position: absolute;
	width: 739px;
	height: 54px;
	background: url(../media/images/img1.png) no-repeat;
	overflow: hidden;
	top: 206px;
	left: 155px;
	animation:img1 2s infinite;
}
@keyframes img1{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

.logoclk{
	position: absolute;
	width: 327px;
	height: 115px;
	background: transparent;
	overflow: hidden;
	top: 86px;
	right: 317px;
}
.circle {
	position: absolute;
    width: 108px;
    height: 108px;
    border-radius: 225px;
    top: 307px;
    left: 838px;
	-webkit-animation: 1.5s circleshadow ease-in infinite;
	-webkit-animation-fill-mode: both;
	animation: 1.5s circleshadow ease-in infinite;
	animation-fill-mode: both;
}
.circle1 {
	position: absolute;
    width: 108px;
    height: 108px;
    border-radius: 225px;
    top: 552px;
    left: 838px;
	-webkit-animation: 1.5s circleshadow ease-in infinite;
	-webkit-animation-fill-mode: both;
	animation: 1.5s circleshadow ease-in infinite;
	animation-fill-mode: both;
}
@-webkit-keyframes circleshadow {
 0% {
 -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
 -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
 box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
}
 50% {
 -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.55);
 -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.55);
 box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.55);
}
 100% {
 -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
 -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
 box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
}
}
 @keyframes circleshadow {
 0% {
 -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
 box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
 50% {
 -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
 box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
}
 100% {
 -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
 box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
}
.Ref{
	width: 450px;
    height: 188px;
	background: transparent;
	position: absolute;
	top: 280px;
    left: 490px;
}
.pop {
    position: absolute;overflow:hidden;
    width: 1024px;
	height:768px;
    background: url(../media/images/popup1.jpg);
    display: block;
    left: 0px;
    top: 0px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    z-index: 999;
}
.open{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.close {
    z-index: 99;
        right: 74px;
    top: 132px;
    width: 45px;
    height: 45px;
	background:transparent;
    position: absolute;
}
.ref{
	position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
  
}
.api{
	width: 55px;
    height: 55px;
	background: transparent;
	position: absolute;
	bottom: 0px;
    right: 20px;
}
.APIpop{
	position: absolute;overflow:hidden;
    width: 1024px;
	height:768px;
    background: url(../media/images/api.jpg);
    display: block;
    left: 0px;
    top: 0px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    z-index: 999;
}
.open2{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.close1 {
    z-index: 99;
        right: 74px;
    top: 132px;
    width: 45px;
    height: 45px;
	background:transparent;
    position: absolute;
}
.glow1{      position: absolute;
    width: 90px;
    height: 34px;
    left: 646px;
    box-shadow: 0px 1px 8px 4px #fff;
    top: 692px;
    border-radius: 17px;
}
.glow2{  position: absolute;
    width: 90px;
    height: 34px;
    left: 746px;
    box-shadow: 0px 1px 8px 4px #fff;
    top: 692px;
    border-radius: 17px;
}
.clk2{    position: absolute;
    width: 100px;
    height: 45px;
        left: 741px;
    top: 688px;background:url(../media/images/hbtn.png) no-repeat;
}

.clk1{    position: absolute;
    width: 100px;
    height: 45px;
       left: 641px;
    top: 688px;background:url(../media/images/ebtn.png) no-repeat;
}
.pop1 {
    position: absolute;
    width:1024px;
    height: 768px;
    display: none;
    background-color: black;
    left:0px;
    top: 0px;
    z-index: 999;
}


.pop1.open{
    -webkit-transform: scale(1);
    transform: scale(1);
    /*box-shadow: 0px 0px 5px black;border-radius: 4px;*/
}

.close2 {
    z-index: 99;
       left: 975px;
    top: 10px;
    position: absolute;
}


.pop2 {
    position: absolute;
    width:1024px;
    height: 768px;
    display: none;
    background-color: black;
    left:0px;
    top: 0px;
    z-index: 999;
}


.pop2.open{
    -webkit-transform: scale(1);
    transform: scale(1);
    /*box-shadow: 0px 0px 5px black;border-radius: 4px;*/
}

.close3 {
    z-index: 99;
       left: 975px;
    top: 10px;
    position: absolute;
}
.anim {
  
    -webkit-animation: 1s anim1 ease-in infinite;
    -webkit-animation-fill-mode: both;
    
        animation: 1s anim1 ease-in infinite;
     animation-fill-mode: both;
    
}
 @-webkit-keyframes anim1 {
 0% {opacity:0;}

 50% {opacity:1;}
 100% { opacity:0;}
}

 @keyframes anim1 {0% {opacity:0;}

 50% { opacity:1;}
 100% { opacity:0;}
}​