@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}

.img1 {
	position: absolute;
	background: url("../media/images/img1.png") no-repeat left top;
	width: 218px;
	height: 61px;
	overflow: hidden;
	top: 315px;
	left: 327px;
	display:none;
}
.img2 {
	position: absolute;
	background: url("../media/images/img2.png") no-repeat left top;
	width: 226px;
	height: 57px;
	overflow: hidden;
	top: 389px;
	left: 310px;
	display:none;
}
.img3 {
	position: absolute;
	background: url("../media/images/img3.png") no-repeat left top;
	width: 219px;
	height: 61px;
	overflow: hidden;
	top: 460px;
	left: 330px;
	display:none;
}
.img4 {
	position: absolute;
	background: url("../media/images/img4.png") no-repeat left top;
	width: 200px;
	height: 61px;
	overflow: hidden;
	top: 270px;
	left: 706px;
	display:none;
}
.img5{
	position: absolute;
	background: url("../media/images/img5.png") no-repeat left top;
	width: 200px;
	height: 61px;
	overflow: hidden;
	top: 342px;
	left: 750px;
	display:none;
}
.img6 {
	position: absolute;
	background: url("../media/images/img6.png") no-repeat left top;
	width: 207px;
	height: 57px;
	overflow: hidden;
	top: 423px;
	left: 745px;
	display:none;
	
}
.img7{
	position: absolute;
	background: url("../media/images/img7.png") no-repeat left top;
	width: 200px;
	height: 60px;
	overflow: hidden;
	top: 493px;
	left: 717px;
	display:none;
}
.homelogo {
    position: absolute;
    top: 39px;
	left: 147px;
	width: 725px;
	height: 145px;
	background:transparent;
}
.logo{
	position: absolute;
	top: 80px;
	left: 155px;
	width: 695px;
	height: 100px;
}