@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
#bg2 {
  position: absolute;
  background: url(../media/images/bg2.jpg) no-repeat left top;
  width: 1024px;
  height: 768px;
  background-size: 100% 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#bg3 {
  position: absolute;
  background: url(../media/images/bg3.jpg) no-repeat left top;
  width: 1024px;
  height: 768px;
  background-size: 100% 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#bg4 {
  position: absolute;
  background: url(../media/images/bg4.jpg) no-repeat left top;
  width: 1024px;
  height: 768px;
  background-size: 100% 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#img1 {
  position: absolute;
  background: url("../media/images/img1.png") no-repeat left top;
  width: 578px;
  height: 100px;
  top: 127px;
  left: 70px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img2 {
  position: absolute;
  background: url("../media/images/img2.png") no-repeat left top;
  width: 401px;
  height: 173px;
  top: 370px;
  left: 70px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img3 {
  position: absolute;
  background: url("../media/images/img3.png") no-repeat left top;
  width: 211px;
  height: 69px;
  top: 553px;
  left: 109px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img4 {
  position: absolute;
  background: url("../media/images/img4.png") no-repeat left top;
  width: 124px;
  height: 106px;
  top: 500px;
  left: 870px;
  display: none;
  -webkit-animation-name: stamp;
  animation-name: stamp;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes stamp {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    opacity: 1;
    transform: rotate(-15deg) scale(1);
  }
}
#img5 {
  position: absolute;
  background: url("../media/images/img5.png") no-repeat left top;
  width: 0px;
  height: 28px;
  top: 570px;
  left: 195px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img6 {
  position: absolute;
  background: url("../media/images/img6.png") no-repeat left top;
  width: 0px;
  height: 28px;
  top: 622px;
  left: 195px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#img7 {
  position: absolute;
  background: url("../media/images/img7.png") no-repeat left top;
  width: 238px;
  height: 76px;
  top: 554px;
  left: 735px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
}
#bottom {
  position: absolute;
  width: 1024px;
  height: 180px;
  background: transparent;
  overflow: hidden;
  left: 0px;
  bottom: 0px;
  z-index: 998;
}
#logoclk {
  position: absolute;
  width: 305px;
  height: 220px;
  background: transparent;
  overflow: hidden;
  top: 40px;
  left: 675px;
}
#home {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url("../media/images/home.png") no-repeat;
  overflow: hidden;
  top: 690px;
  right: 35px;
  z-index: 999;
}