@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
button{ position: absolute; border:none; background:none; }
.click1 {
  position: absolute;
  width: 200px;
  height: 73px;
  top: 40px;
  left: 78px;
}
.click2 {
  position: absolute;
  width: 200px;
  height: 73px;
  top: 40px;
  left: 300px;
}
.click3 {
  position: absolute;
  width: 200px;
  height: 73px;
  top: 40px;
  left: 524px;
}
.click4 {
  position: absolute;
  width: 200px;
  height: 73px;
  top: 40px;
  left: 745px;
}
.click5 {
  position: absolute;
  width: 200px;
  height: 73px;
  top: 130px;
  left: 190px;
}
.click6 {
  position: absolute;
  width: 200px;
  height: 73px;
  top: 130px;
  left: 410px;
}
.click7 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 130px;
  left: 630px;
}
.click8 {
  position: absolute;
  width: 195px;
  height: 69px;
  top: 226px;
  left: 415px;
}
.click9 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 315px;
  left: 80px;
}
.click10 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 318px;
  left: 300px;
}
.click11 {
  position: absolute;
  width: 205px;
  height: 69px;
  top: 315px;
  left: 520px;
}
.click12 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 315px;
  left: 745px;
}
.click13 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 410px;
  left: 80px;
}
.click14 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 407px;
  left: 300px;
}
.click15 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 407px;
  left: 525px;
}
.click16 {
  position: absolute;
  width: 205px;
  height: 69px;
  top: 410px;
  left: 740px;
}
.click17 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 500px;
  left: 80px;
}
.click18 {
  position: absolute;
  width: 205px;
  height: 69px;
  top: 500px;
  left: 300px;
}
.click19 {
  position: absolute;
  width: 205px;
  height: 69px;
  top: 500px;
  left: 520px;
}
.click20 {
  position: absolute;
  width: 205px;
  height: 69px;
  top: 500px;
  left: 745px;
}
.click21 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 590px;
  left: 80px;
}
.click22 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 590px;
  left: 305px;
}
.click23 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 590px;
  left: 524px;
}
.click24 {
  position: absolute;
  width: 200px;
  height: 69px;
  top: 590px;
  left: 745px;
}