@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
.img1{
	position: absolute;
	width: 269px;
	height: 62px;
	background: url(../media/images/img1.png) no-repeat;
	overflow: hidden;
	    top: 23px;
    left: 570px;
	animation:img1 1s infinite;
}
@keyframes img1{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
.img2{
	position: absolute;
	width: 71px;
	height: 71px;
	background: url(../media/images/img2.png) no-repeat;
	overflow: hidden;
	    top: 193px;
    left: 257px;
	
}
.img3{
	position: absolute;
	width: 71px;
	height: 73px;
	background: url(../media/images/img3.png) no-repeat;
	overflow: hidden;
	top: 167px;
    left: 507px;
	
}
.img4{
	position: absolute;
	width: 70px;
	height: 72px;
	background: url(../media/images/img4.png) no-repeat;
	overflow: hidden;
	 top: 147px;
    left: 688px;
	
}
.img5{
	position: absolute;
	width: 71px;
	height: 72px;
	background: url(../media/images/img5.png) no-repeat;
	overflow: hidden;
	   
	top: 404px;
    left: 273px;
	
}
.img6{
	position: absolute;
	width: 105px;
	height: 105px;
	background: url(../media/images/img6.png) no-repeat;
	overflow: hidden;
	top: 362px;
    left: 425px;
	
}
.img7{
	position: absolute;
	width: 65px;
	height: 66px;
	background: url(../media/images/img7.png) no-repeat;
	overflow: hidden;
	top: 393px;
    left: 648px;
	opacity:70%;
}
.logoclk{
	position: absolute;
	width: 402px;
    height: 108px;
    background: transparent;
    overflow: hidden;
    top: 540px;
    left: 505px;
}
.logo{
	position: absolute;
	top: 540px;
	left: 500px;
	width: 500px;
	height: 150px;
}