@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.logo{
    position: absolute;
    top: 470px;
    left: 537px;
    width: 430px;
    height: 210px;
    z-index: 999;
    /*border: 1px solid #000;*/
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}