@charset "utf-8";
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#main {
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  transform-origin: 50% 0%;
  overflow: hidden;
  background: url("../media/images/bg.jpg") no-repeat;
  background-size: contain;
}
#pop1 {
  position: absolute;
  background: url(../media/images/pop1.png) no-repeat left top;
  width: 1024px;
  height: 768px;
  background-size: 100% 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#pop2 {
  position: absolute;
  background: url(../media/images/pop2.png) no-repeat left top;
  width: 1024px;
  height: 768px;
  background-size: 100% 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#pop3 {
  position: absolute;
  background: url(../media/images/pop3.png) no-repeat left top;
  width: 1024px;
  height: 768px;
  background-size: 100% 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#ref {
  position: absolute;
  background: url(../media/images/ref.png) no-repeat left top;
  width: 1024px;
  height: 768px;
  background-size: 100% 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
#img1 {
  position: absolute;
  background: url("../media/images/img1.png") no-repeat left top;
  width: 258px;
  height: 306px;
  top: 375px;
  left: 105px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
}
#img2 {
  position: absolute;
  background: url("../media/images/img2.png") no-repeat left top;
  width: 258px;
  height: 306px;
  top: 375px;
  left: 386px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
}
#img3 {
  position: absolute;
  background: url("../media/images/img3.png") no-repeat left top;
  width: 258px;
  height: 306px;
  top: 375px;
  left: 666px;
  visibility: hidden;
  transition-duration: 1s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
}
#img4 {
  position: absolute;
  background: url("../media/images/img4.png") no-repeat left top;
  width: 159px;
  height: 34px;
  top: 230px;
  left: 707px;
  display: none;
  transition-duration: 1s;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
}
#refclk {
  width: 55px;
  height: 100px;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 630px;
  left: 869px;
  z-index: 999;
}
#refclose {
  width: 60px;
  height: 60px;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 330px;
  left: 887px;
  visibility: hidden;
}
#pop1close, #pop2close, #pop3close {
  width: 80px;
  height: 80px;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 97px;
  left: 874px;
  visibility: hidden;
}
#logoclk {
  position: absolute;
  width: 499px;
  height: 172px;
  background: transparent;
  overflow: hidden;
  top: 102px;
  left: 81px;
}
#home {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url("../media/images/home.png") no-repeat;
  overflow: hidden;
  top: 690px;
  right: 35px;
  z-index: 999;
}
.logo {
  position: absolute;
  width: 499px;
  height: 172px;
  background: transparent;
  overflow: hidden;
  top: 102px;
  left: 81px;
}